.todo-item {
    width: 100%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #ccc;
    flex-wrap: wrap;
    background-color: rgb(232, 240, 254);
}

.todo-item__input {
    color: red;
}

.todo-item__btn {
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    margin-left: auto;
}

.todo-item__text {
    width: 80%;
    margin: 7px 0;
    line-height: 1.2;
    color: #000;
    font-size: 14px;
}

.todo-item__text_crossed-out {
    text-decoration: line-through;
}

.todo-item__text_color {
    color: red;
}

.todo-item__time {
    color: rgb(173, 173, 173);
    font-size: 10px;
    line-height: 1;
}

.todo-item__pencil {
    width: 20px;
    margin: 0 10px 0 0;
    cursor: pointer;
    color: blue;
}

.todo-item__pencil:hover {
    opacity: 0.7;
    transition: opacity linear 0.3s;
}